# Ignore data and logs folders
/data
/env
temp_data_zips/

# Ignore everything in logs
logs/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
dummy.py

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/


# IDE settings
.vscode/
.idea/